.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
  font-size: 40px;
  font-weight: bold;
}

.navbar-links {
  margin: auto 50px;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  display: flex;
  gap: 90px;
}

.navbar-links>.active a {
  color: #ffaa00;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a,
.navbar-logo {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover,
.navbar-logo:hover {
  color: #ffaa00;
}
